
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333333;
  font-size: 30px;
  margin-bottom: 20px;
}

.schedule {
  background-color: #ff7f50;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
/* custom.css */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table thead th {
  background-color: #f2f2f2;
  color: #333333;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.table tbody td {
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

.table a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}

.table a:hover {
  color: #ff7f50;
}

.thead-light {
  background-color: #e9ecef;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea.fixed-size {
  width: 350px;
  height: 120px;
}

.form-group .submit {
  text-align: right;
  margin-top: 10px;
}

.form-group .submit input[type="submit"] {
  background-color: #ff7f50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar .day {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
}

.calendar .day a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}

.notice {
  padding: 10px;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 4px;
}

.simple-calendar 
 .has-events {
    background: #98fb;
  }
 


 /* サインアップ */ 

/* サインアップフォーム全体のスタイル */
.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* サインアップタイトルのスタイル */
.signup-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* 入力フィールドの共通スタイル */
.form-field {
  margin-bottom: 20px;
}

/* ラベルのスタイル */
.form-label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* 入力欄のスタイル */
.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* パスワード情報のスタイル */
.password-info {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

/* アクションボタンのスタイル */
.form-actions {
  text-align: center;
}

.btn-submit {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #337ab7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #286090;
}

/* エラーメッセージのスタイル */
.error-messages {
  color: #cc0000;
  margin-bottom: 20px;
}

 /* ログイン画面*/ 


 .login-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 20px;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.field {
  margin-bottom: 20px;
}

.form-checkbox-label {
  font-size: 14px;
  color: #555;
  margin-left: 5px;
}

.form-checkbox {
  margin-right: 5px;
}

.actions {
  text-align: center;
}


 /* Linkタグ*/ 

 .login-container {
  text-align: center;
}

.login-link,
.signup-link,
.forgot-password-link {
  display: inline-block;

  font-size: 16px;
  color: #337ab7;
  text-decoration: none;
  margin-top: 20px;
}

.login-link:hover,
.signup-link:hover,
.forgot-password-link:hover {
  text-decoration: underline;
}
